---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"agent_id":"intelligent_education_correction_polling","async_id":"nonexistent-async-id"}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/v1/agents/async-result
        method: POST
      response:
        body: '{"agent_id":"intelligent_education_correction_polling","async_id":"nonexistent-async-id","status":"failed","error":{"code":"400","message":"custom_variables is required"}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Log-Id:
                - 202607110732109fedabff5e0e4e8a
        status: 200 OK
        code: 200
        duration: 515.980291ms
