---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"agent_id":"general_translation","custom_variables":{"source_lang":"auto","target_lang":"zh-CN"},"messages":[{"content":[{"text":"hello","type":"text"}],"role":"user"}]}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/v1/agents
        method: POST
      response:
        body: '{"id":"2026071106202516f8db3a3eaf460f","agent_id":"general_translation","status":"failed","error":{"code":"1113","message":"Your account balance is insufficient. Please recharge and try again."}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Log-Id:
                - 2026071106202516f8db3a3eaf460f
        status: 200 OK
        code: 200
        duration: 935.631042ms
