---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"model":"glm-tts","input":"hello world","voice":"tongtong"}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/paas/v4/audio/speech
        method: POST
      response:
        body: '{"error":{"code":"1211","message":"Unknown Model, please check the model code."}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Log-Id:
                - 202607110732112c37ce56ae8c463c
        status: 400 Bad Request
        code: 400
        duration: 493.373875ms
