---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"input":"hello","model":"embedding-2"}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/paas/v4/embeddings
        method: POST
      response:
        body: '{"error":{"code":"1211","message":"Unknown Model, please check the model code."}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Log-Id:
                - 202607110617267187d149b2e345b5
        status: 400 Bad Request
        code: 400
        duration: 1.116786417s
