---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"input":"hello world","model":"moderation"}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/paas/v4/moderations
        method: POST
      response:
        body: '{"error":{"code":"1211","message":"Unknown Model, please check the model code."}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Log-Id:
                - 20260711061724e6f853b2537d4c63
        status: 400 Bad Request
        code: 400
        duration: 743.058291ms
