---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"model":"rerank","query":"capital of France","documents":["Paris is the capital of France.","Berlin is the capital of Germany."]}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/paas/v4/rerank
        method: POST
      response:
        body: '{"error":{"code":"1211","message":"Unknown Model, please check the model code."}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Log-Id:
                - 20260711073207c98afd2ba327474f
        status: 400 Bad Request
        code: 400
        duration: 872.656625ms
