---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"model":"glm-4.6","messages":[{"role":"user","content":"hello world, how are you today?"}]}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/paas/v4/tokenizer
        method: POST
      response:
        body: '{"error":{"code":"1113","message":"Insufficient balance or no resource package. Please recharge."}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Log-Id:
                - 20260711071544ed6884f64ca249e9
        status: 429 Too Many Requests
        code: 429
        duration: 666.134583ms
