---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"search_query":"golang generics","search_engine":"search_pro","search_intent":false,"count":3}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/paas/v4/web_search
        method: POST
      response:
        body: '{"error":{"code":"1113","message":"Insufficient balance or no resource package. Please recharge."}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Log-Id:
                - 20260711071541a8f1483fc80a464b
        status: 429 Too Many Requests
        code: 429
        duration: 820.578708ms
