---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        body: '{"url":"https://go.dev"}'
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/paas/v4/reader
        method: POST
      response:
        body: '{"error":{"code":"1113","message":"Insufficient balance or no resource package. Please recharge."}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Log-Id:
                - 20260711071542677b07f5012b489e
        status: 429 Too Many Requests
        code: 429
        duration: 825.5745ms
