---
version: 2
interactions:
    - id: 0
      request:
        host: api.z.ai
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.z.ai/api/paas/v4/voice/list
        method: GET
      response:
        body: '{"voice_list":[{"create_time":"2025-09-08 19:40:18","voice":"abcf4765-0d08-5cbd-8bd8-6867f76166cc","voice_name":"jam1","voice_type":"OFFICIAL"},{"create_time":"2025-09-08 18:32:17","voice":"cea88155-a841-5d00-a70e-cf08c140939d","voice_name":"luodo","voice_type":"OFFICIAL"},{"create_time":"2025-09-08 18:31:14","voice":"0df8fcb4-9c9f-5d93-9d6b-5cf730cd7dd1","voice_name":"kazi","voice_type":"OFFICIAL"},{"create_time":"2025-09-08 18:27:14","voice":"063c5163-7624-50f3-85e4-cdde2786ac3c","voice_name":"douji","voice_type":"OFFICIAL"},{"create_time":"2025-09-08 18:25:33","voice":"d57d0230-1fdf-534e-8997-6d1424e460ee","voice_name":"j[...]
